@font-face {
    font-family:"YouMurderer";
    src: url("../YouMurdererBB.woff");
}
html{
	margin:0px;
	padding:0px;
}
body{
	
	
    background-color: #FF933A;
	/*background-repeat: no-repeat*/;
	
}
header{
	display:flex;
	width:100%;
	margin-bottom: 10px;
	background: url(../img/chain.png);
	background-size:100% 100%;

}
audio{
	display:none;
}

h1{
	margin:0px 0px;
	flex:1 1 200px;
	color:black;
	font-family: "YouMurderer";
	font-weight: 600;
	font-size:2.5em;
	text-align: center;
	font-size:400%;
}
nav{
	
}

ul{
	
	
	/*box-shadow: -2px -2px 2px silver;*/
	background-color: rgba(129,129,129,0.1);
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0px;



}
li{ 

	flex: 1 1 40px;

	margin:10px;
	padding: 2px 0px;
	list-style: none;
	text-align: center;

	border:1px solid ;
	border-color: rgba(255,0,0,0.2);
	background-color:rgba(255,0,0,0.4);
	transition: all 0.1s;
}
li:hover{
	transform: scale(1.1);
	border-color:rgba(255,0,0,0.6);
	background-color:rgba(255,0,0,0.2);
	box-shadow: -2px 2px 2px #888888;
}

a{
	text-decoration: none;
	color:black;

}
.container{
	/*display:grid;
	grid-template-columns: auto auto auto;
	
	height:100%;*/
	background-image: url("../img/nebula.gif");
	background-size: 100% 100%;
	grid-gap: 10px;
	border: 1px silver;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px 1px silver, 0px 1px 0 #8A9, 0 0px 0px #8A8, 0px 10px 25px rgba(0,0,0,.7);
	padding:10px;
	background-color: rgba(129,129,129,0.1);


}

#side-left{
	/*grid-row-start: 1;
	grid-row-end: 3;*/
	background: url("../img/background.jpg")no-repeat center ;
	
    background-size: cover;
    border-radius: 5px;

}
.icon{
	text-align: center;
}

#right1{
	/*grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;*/
}
.music {
    
    
    margin-top:0;
    border: 1px silver;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px 1px silver, 0px 1px 0 #8A9, 0 0px 0px #8A8, 0px 10px 25px rgba(0,0,0,.7);
    /*overflow-y: scroll;*/
    
}
.inner {
    background: url("../img/red2.jpg") no-repeat center ;
    background-size: cover;
    border: 1px silver;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px 1px silver, 0px 1px 0 #8A9, 0 0px 0px #8A8, 0px 10px 25px rgba(0,0,0,.7);
    
    margin:10px;
    
    
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
#jafoto {
    margin-left: 20px;
    opacity:1.0;
}
#jafoto:hover {
    opacity:0.5;
    cursor: pointer;
    transition: all 1s ease;
}
#lyrics { 
    margin:20px;
    font-family: 'Marck Script', cursive;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: snow;
    
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#fff), color-stop(50%, #777), color-stop(50%, #666), to(red));
  background: -webkit-linear-gradient(top, #e60000, #ff3333 50%, #ff6666 50%, snow);
  background:         linear-gradient(top, #fff, #777 50%, #666 50%, #111);
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
    
    
}
#foot {
    font-family: Arial;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: snow;
    
    /* ==============this below is to verticaly center the txt area inide div element
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
    
}
/*======================================FORM==========================================*/
#theform {
    display:none;/*table*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 0px;
    font-family: Arial;
    font-weight: 600;
    font-size: 14px;
    color:snow;
    background-image: url(../img/rain.jpg);
    background-size: cover no-repeat;
     border: 1px silver;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px 1px silver, 0px 1px 0 #8A9, 0 0px 0px #8A8, 0px 10px 25px rgba(0,0,0,.7);
    
}
.row1 {
    display:none;/*table-row*/
    
}
.row1 label {
    margin-right: 5px;
    padding:0px;
    display:none;/*table-cell*/
    text-align: right;
}
.row1 input {
	height:35px;
     border: 1px silver;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px 1px silver, 0px 1px 0 #8A9, 0 0px 0px #8A8, 0px 10px 25px rgba(0,0,0,.7);
    padding:0px;
    display:none;/*table-cell*/
    margin:10px 3px;
}
.row1 textarea {
   border: 1px silver;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px 1px silver, 0px 1px 0 #8A9, 0 0px 0px #8A8, 0px 10px 25px rgba(0,0,0,.7);
    padding:10px;
    display:none;/*table-cell*/
    width:170px;
    height:100px;
    margin:5px;
}
#submit {
    background-color: #aebafd;
    color:black;
    float:right;
    display:none;
    
}
/*=====================================PLAYER===========================================*/
#audioPlayer{
	display:none;/*block*/
}
#audioPlayer2{
	display:none;/*block*/
}
.item1{
	font-family:"YouMurderer";
    font-size: 60px;
    color:red;
    margin: 0px auto;
    padding: 10px 0;
	text-align: center;
	grid-area: header;
}
.item2{
	grid-area: occulta;
}
.item3{
	grid-area:album;
	font-family:"YouMurderer";
	font-size: 1.5em;
	font-stretch: ultra-expanded;
	color: red;
}
.item4{
	grid-area: playBut;
}
.item5{
	grid-area:stopBut;
}
.item6{
	grid-area:backwardButton;
}
.item7{
	grid-area:forwardButton;
}
.player{
	clear:both;
	display: grid;
	grid-gap: 5px;
	grid-template-areas: 
	'header header header header header header'
	'occulta occulta album album album album '
	'occulta occulta playBut playBut stopBut stopBut'
	'occulta occulta . forwardButton forwardButton .';

	padding:10px;
	margin:10px;
	border: 1px silver;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px 1px silver, 0px 1px 0 #8A9, 0 0px 0px #8A8, 0px 10px 25px rgba(0,0,0,.7);
	
}
button{
	background-color: rgba(255,0,0,.4);
	border: 2px solid rgba(255,0,0,.4);
	border-radius:5px;
	box-shadow: 2px 2px 2px #888888;
	width:70px;
	height:35px;
	font-family: Arial;
}
button:hover{
	cursor: pointer;
}
.listOfSongs{
	flex-direction: column;
}
.listOfSongs>li:hover{
	cursor:pointer;
}
#videoParent{
	
    display:flex; 
    justify-content: center;
    
}
#video {
	display: flex;
	
	width: 300px; 
    height: 200px;
}
.aroundMenu{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	

}

.animated{
	width:100px;
	height:30px;
	margin:20px 10px;
	border-radius: 20px;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(234,106,0,.6);
	/*background: linear-gradient(rgba(120,0,120,.5), rgba(255,0,0,.5)), url("../img/rain.jpg");
	/*background-image: url('../img/butback.png');*/
	background-size: 100% 100%;

}
.animated:hover{
	cursor:pointer;
	animation-name: rotation;
}

.animated>span{
	font-family:"YouMurderer";
	font-size:1.8em;
}
#home, #poetry{
	margin-top:0px;
}
#music, #contact{
	margin-top:0px;
}
/*Poetry*/
#poetrySheet{
	display:none;/*flex*/
	align-items: center;
	justify-content: center;
}
#button-left{
	
}
.teksty{
	display:none;
}
.ppp{
	background-image:url(../img/moth.jpg) ;
	background-size: 100% 100%;

	border: 1px silver;
    border-radius: 5px;
    box-shadow: inset 0 1px 10px 1px silver, 0px 1px 0 #8A9, 0 0px 0px #8A8, 0px 10px 25px rgba(0,0,0,.7);
    margin:10px;
}
.ppp>p{
	margin:5px;
	padding:2px 10px;
	font-family: 'Marck Script', cursive;
    font-weight: 700;
    font-size: 1.5em;
	text-align: center;
	background: -webkit-linear-gradient(top, #e60000, #ff3333 50%, #ff6666 50%, snow);
	-webkit-background-clip: text;
	
}